{% extends 'basebs.html' %}

{% load crispy_forms_tags %} 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 

{% block title %} Logout {% endblock %} 

{% block header1 %}
  <div class="header-background">
    <h1> Logout <i class="bi bi-box-arrow-left"></i> </h1>
  </div>
{% endblock %}

{% block content %} 


<div class="jumbotron jumbotron-fluid" style="margin-top: 70px;">
  <div class="container">
    <h1 class="display-4">Logout successful</h1>
    <p class="lead">See you soon!</p>
    <br>
    <a href="{% url 'home' %}" class="btn btn-success"> Home <i class="bi bi-house"></i> </a>

  </div>
</div>

{% endblock %}
