{% extends 'basebs.html' %}

{% load static %}

{% block title %} Trips {% endblock %} 

{% block header1 %}
  <div class="header-background">
    <h1> Yours trips <i class="bi bi-suitcase-lg"></i> </h1>
  </div>
{% endblock %}

{% block content %} 

{% block sections %}
  <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
    {% if request.path == "/gestione/trips/passenger" %}
      <a href="{% url 'trips' 'passenger' %}" class="btn btn-outline-primary active" for="btnradio1">My upcoming trips <i class="bi bi-list-task"></i></a>
      {% if "Driver" in user.groups.all.0.name or  "Driver" in user.groups.all.1.name or user.is_staff %}  
      <a href="{% url 'trips' 'driver' %}" class="btn btn-outline-primary" for="btnradio2">My upcoming trips (DRIVER)</a>
      {% endif %}
      <a href="{% url 'trips' 'old' %}" class="btn btn-outline-primary" for="btnradio3">My recents trips <i class="bi bi-check2-circle"></i></a>
    {% elif request.path == "/gestione/trips/driver" %}

      <a href="{% url 'trips' 'passenger' %}" class="btn btn-outline-primary" for="btnradio1">My upcoming trips <i class="bi bi-list-task"></i></a>
      {% if "Driver" in user.groups.all.0.name or  "Driver" in user.groups.all.1.name or user.is_staff %}  
      <a href="{% url 'trips' 'driver' %}" class="btn btn-outline-primary active" for="btnradio2">My upcoming trips (DRIVER)</a>
      {% endif %}
      <a href="{% url 'trips' 'old' %}" class="btn btn-outline-primary" for="btnradio3">My recents trips <i class="bi bi-check2-circle"></i></a>
      {% elif request.path == "/gestione/trips/old" %}

      <a href="{% url 'trips' 'passenger' %}" class="btn btn-outline-primary" for="btnradio1">My upcoming trips <i class="bi bi-list-task"></i></a>
      {% if "Driver" in user.groups.all.0.name or  "Driver" in user.groups.all.1.name or user.is_staff %}  
      <a href="{% url 'trips' 'driver' %}" class="btn btn-outline-primary" for="btnradio2">My upcoming trips (DRIVER)</a>
      {% endif %}
      <a href="{% url 'trips' 'old' %}" class="btn btn-outline-primary active" for="btnradio3">My recents trips <i class="bi bi-check2-circle"></i></a>

    {% endif %}
    
  </div>
{% endblock %}

<br><br>

<div style="background: linear-gradient(to right, #d9eafc, #b2d7e7); padding: 20px; text-align: center; border-radius: 10px;">
    {% block rides-card %}
    {% endblock %}
</div>


{% if messages %}
        <div class="container mt-4">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
{% endif %}


{% endblock %}