{% extends 'basebs.html' %}

{% block title %} {{object.titolo}} {% endblock %} 

{% block header1 %}
  <div class="header-background">
    <h1> Booking Details <i class="bi bi-bookmarks"></i>  </h1>
  </div>
{% endblock %}

{% block content %} 

<h2> Booking with ID   <i class="bi bi-person-vcard-fill"></i> {{object.id}}</h2>

<br>


<ul class="list-group">
    <li class="list-group-item disabled" aria-disabled="true">Information <i class="bi bi-info-square"></i></li>
    <li class="list-group-item">  Opening registration time : <b>  {{object.open_registration_time}} </b>  </li>
    <li class="list-group-item">  Closing registration time : <b> {{object.close_registration_time}} </b>  </li>
    <li class="list-group-item">  Max passengers : <b> {{object.max_passenger}} </b>  </li>
    <li class="list-group-item">  ... </li>
  </ul>
    

{% endblock %}