{% extends 'basebs.html' %}

{% block title %} {{title}} {% endblock %} 

{% load crispy_forms_tags %} 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 

{% block header1 %}
  <div class="header-background">
    <h1 class="header-background"> {{title}}  </h1>
  </div>
{% endblock %}

{% block content %} 

<h2> Please provide the required details </h2>

<br><br>

<div class="col-md-7">
<form action="{% url 'createtrip' %}" enctype="multipart/form-data" method="POST">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <!--Vehicle information-->
    <h2> Vehicle </h3>
    <br>
    <div class="form-group">
        {{ form.car|as_crispy_field }}
    </div>
    <br>

    <!--Departure information-->
    <h3> Departure </h3>
    <br>
    <div class="form-group">
        {{ form.departure_state|as_crispy_field }}
        {{ form.departure_location|as_crispy_field }}
        {{ form.departure_address|as_crispy_field }}
        {{ form.departure_time|as_crispy_field }}
    </div>
    <br>

    <!--Arrival information-->
    <h2> Arrival </h3>
    <br>
    <div class="form-group">
      {{ form.arrival_state|as_crispy_field }}
      {{ form.arrival_location|as_crispy_field }}
      {{ form.arrival_address|as_crispy_field }}
      {{ form.arrival_time|as_crispy_field }}
    </div>
    
    <!--Booking information-->
    <br>
    <h2>Booking Information</h1>
    <br>
    <div class="form-group">
        {{ form.open_registration_time|as_crispy_field }}
        {{ form.close_registration_time|as_crispy_field }}
        {{ form.max_passenger|as_crispy_field }}
        {{ form.image|as_crispy_field }}
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Create trip</button>
</form>

</div>

<br>


<br>

{% endblock %}