{% extends 'basebs.html' %}

{% load static %}

{% block title %} Garage {% endblock %} 

{% block header1 %}
  <div class="header-background">
    <h1> Yours vehicle </h1>
  </div>
{% endblock %}

{% block content %} 

    

{% if "Driver" in user.groups.all.0.name or  "Driver" in user.groups.all.1.name or user.is_staff %}  {# TODO - Improve this check #}

  <h2> Your Garage has {{ object_list.count }} vehicle </h2>

  <!-- Log:message section -->
  <div id="message-container" class="container mt-4">
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  </div>

  <script>
    setTimeout(function() {
      var messageContainer = document.getElementById('message-container');
      if (messageContainer) {
        messageContainer.classList.add('fade-out'); 
        setTimeout(function() {
          messageContainer.style.display = 'none';
        }, 2000); 
      }
    }, 1000);
  </script>
  <!----------------------->

  {% if object_list.count == 0 %}
  
    <div class="card" style="width: 18rem;">
      <img src="{% static '/img/empty_garage.jpg' %}" class="card-img-top" alt="empty_garage">
      <div class="card-body">
        <h5 class="card-title">Attention</h5>
        <p class="card-text">Your garage is empty. You can add your first vehicle with the following button. </p>
        <a href="{% url 'addvehicle' %}" class="btn btn-primary">Add new vehicle <i class="bi bi-plus-square"></i></a>
      </div>
    </div>
  
  {%else %}

      {% for l in object_list %}
          <br>
          <div class="card">
              <div class="card-header">
                  {{ l.model }} ({{ l.license_plate }})
              </div>

              <div class="card-body">
                  <h5 class="card-title"> {{ l.km }} Km 🛣️ </h5>
                  <p class="card-text">
                      "Experience the perfect blend of comfort and cutting-edge technology with this vehicle.
                      Enjoy heated leather seats, an intuitive infotainment system, and a sleek design that turns heads.
                      Advanced safety features ensure peace of mind, while impressive fuel efficiency helps you save and respect the environment.
                      Hop in for a ride that combines luxury and innovation like never before.
                      Don't miss out on this unique experience!"
                  </p>
                  {% if l.image %}
                      <img src="{{ l.image.url }}" height="300px" alt="{{ l.model }}">
                  {% else %}  
                      <img src="{% static '/img/default_car.jpg' %}" height="300px" alt="default_car_img">
                  {% endif %}

                  <br><br>

                  <a href="{% url 'updatevehicle' l.id %}" class="btn btn-info"> Modify </a>
                  <a href="{% url 'deletevehicle' l.id %}" class="btn btn-danger"> Delete </a>
              </div>
          </div>
          <br>
      {% endfor %}

      <br>
      <a href="{% url 'addvehicle' %}" class="btn btn-primary btn-lg btn-block"> Add new car <i class="bi bi-plus-square-fill"></i> <i class="bi bi-car-front-fill"></i> </a>


  {% endif %}

{% else %}

    <div class="card" style="width: 18rem;">
      <img src="{% static '/img/cannot_access_garage.jpg' %}" class="card-img-top" alt="forbidden">
      <div class="card-body">
        <h5 class="card-title">Attention</h5>
        <p class="card-text">You are a {{user.groups.all.0.name}}. If you want to have access a garage you have to create a DRIVER account</p>
        <a href="{% url 'registerDriver' %}" class="btn btn-primary">Become a driver 🚕 </a>
      </div>
    </div>

{% endif %}



<br>

{% endblock %}