{% extends 'basebs.html' %}

{% load static %}

{% block title %} {{title}} {% endblock %}

{% block header1 %}
    <div class="header-background">
        <h1> {{title}} </h1>
    </div>
{% endblock %}

{% block content %}
    <h3> Rating of ride({{ride_id}}) : {{rating_sum}} / 5 <i style="color: yellow;" class="bi bi-star"></i> </h3>
    <br>
    <h4> List of reviews: </h1>
    <div class="reviews-container col-md-5">
        <div class="row">
            
        </div>
        {% for passenger in object_list %}
            {% if passenger.review_id %}
                <div class="review row">
                    <div class="col-md-4"><img src="{% static '/img/comment.png' %}" style="height: 120px;" alt="img" class="img-fluid"></div>
                    <div class="reviewer col-md-8">
                        <p><strong>Reviewed by:</strong> {{ passenger.user.username }}</p>
                        <p><strong>Rating:</strong> 
                        {%if passenger.review_id.rating == 1 %}
                            <i style="color: yellow;" class="bi bi-star"></i>
                        {%elif passenger.review_id.rating == 2 %}
                            <i style="color: yellow;" class="bi bi-star"></i>
                            <i style="color: yellow;" class="bi bi-star"></i>
                        {%elif passenger.review_id.rating == 3 %}
                            <i style="color: yellow;" class="bi bi-star"></i>
                            <i style="color: yellow;" class="bi bi-star"></i>
                            <i style="color: yellow;" class="bi bi-star"></i>
                        {%elif passenger.review_id.rating == 4 %}
                            <i style="color: yellow;" class="bi bi-star"></i>
                            <i style="color: yellow;" class="bi bi-star"></i>
                            <i style="color: yellow;" class="bi bi-star"></i>
                            <i style="color: yellow;" class="bi bi-star"></i>
                        {% else %}
                            <i style="color: yellow;" class="bi bi-star"></i>
                            <i style="color: yellow;" class="bi bi-star"></i>
                            <i style="color: yellow;" class="bi bi-star"></i>
                            <i style="color: yellow;" class="bi bi-star"></i>
                            <i style="color: yellow;" class="bi bi-star"></i>
                        {% endif %}
                        <p><strong>Comment:</strong> {{ passenger.review_id.comment }}
                    </div>
                </div>
            {% endif %}
        {% empty %}
        <div class="alert alert-primary" style="background-color: #731cfd;color: white;" role="alert">
            There aren't reviews
          </div>
        {% endfor %}
    </div>
{% endblock %}




