{% extends "basebs.html" %}
{% load crispy_forms_tags %} 
{% load static %}

{% block title %} {{title}} {% endblock %}



{% block header1 %}
  <h1 class="header-background"> Search your trip <i class="bi bi-search-heart"></i> </h1>
{% endblock %}

{% block content %}

<h2>Search Page</h2>
<br>
<form action="{% url 'search_trip' %}" method="POST">
    {% csrf_token %}
    {{ form|crispy }}
<input type="submit" value="Search"> </form>

<br><br>
<h2>Most recently published trips</h2>
<br>

<div class="container text-center">

    

    <div class="row">

      <div class="col">
        <div class="card" style="width: 18rem;">
          <h4> <span class="badge rounded-pill text-bg-info"> Cina - Giappone </span> </h4>
          <img src="{% static '/img/milano.jpg' %}" class="card-img-top" alt="City">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"> <i class="bi bi-calendar2-week-fill"></i> 2023 </i>  <i class="bi bi-clock"></i>  </li>
            <li class="list-group-item"> <i class="bi bi-calendar2-week-fill"></i> 2023   </i>  <i class="bi bi-clock"></i>  </li>
            <li class="list-group-item"> 2023 <i class="bi bi-car-front"></i> </li>
          </ul>
          <div class="card-body">
            <a href="{% url 'home' %}" class="card-link"> More Information </a>
            <a href="{% url 'home' %}" style = "color: green;"  class="card-link"> Take part <i class="bi bi-bookmark-plus"></i> </a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width: 18rem;">
          <h4> <span class="badge rounded-pill text-bg-info"> Cina - Giappone </span> </h4>
          <img src="{% static '/img/milano.jpg' %}" class="card-img-top" alt="City">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"> <i class="bi bi-calendar2-week-fill"></i> 2023 </i>  <i class="bi bi-clock"></i>  </li>
            <li class="list-group-item"> <i class="bi bi-calendar2-week-fill"></i> 2023   </i>  <i class="bi bi-clock"></i>  </li>
            <li class="list-group-item"> 2023 <i class="bi bi-car-front"></i> </li>
          </ul>
          <div class="card-body">
            <a href="{% url 'home' %}" class="card-link"> More Information </a>
            <a href="{% url 'home' %}" style = "color: green;"  class="card-link"> Take part <i class="bi bi-bookmark-plus"></i> </a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width: 18rem;">
          <h4> <span class="badge rounded-pill text-bg-info"> Cina - Giappone </span> </h4>
          <img src="{% static '/img/milano.jpg' %}" class="card-img-top" alt="City">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"> <i class="bi bi-calendar2-week-fill"></i> 2023 </i>  <i class="bi bi-clock"></i>  </li>
            <li class="list-group-item"> <i class="bi bi-calendar2-week-fill"></i> 2023   </i>  <i class="bi bi-clock"></i>  </li>
            <li class="list-group-item"> 2023 <i class="bi bi-car-front"></i> </li>
          </ul>
          <div class="card-body">
            <a href="{% url 'home' %}" class="card-link"> More Information </a>
            <a href="{% url 'home' %}" style = "color: green;"  class="card-link"> Take part <i class="bi bi-bookmark-plus"></i> </a>
          </div>
        </div>
      </div>

      

      

    </div>
  </div>

{% endblock %}