{% extends 'base_trips.html' %}

{% load static %}


{% block rides-card %}

  {% if "Driver" in user.groups.all.0.name or  "Driver" in user.groups.all.1.name or user.is_staff %}  {# TODO - Improve this check #}

    <h3> My Drivers Trips <i class="bi bi-person-vcard"></i> </h3>
    
    {% if object_list.count == 0 and user.my_cars.count != 0 %}
    
      <br>
      <div class="alert alert-primary" style="background-color: #731cfd;color: white;" role="alert">
        There are not planned ride, create one with the button <i class="bi bi-arrow-down"></i> </a> 
      </div>
    
    {% else %}

    <br>
    <div class="container text-center">
      <div class="row justify-content-start">
    {% for trip in object_list %}
        <div class="col-auto">
          <div class="card" style="width: 18rem;">
            <h4> <span class="badge rounded-pill text-bg-info"> {{trip.departure_location}} - {{trip.arrival_location}} </span> </h4>
            {% if trip.image %}
              <img src="{{ trip.image.url }}" height="200px" alt="city_img">
            {% else %}  
                <img src="{% static '/img/no_img.jpg' %}" height="200px" alt="default_city_img">
            {% endif %}
            <ul class="list-group list-group-flush">
              <li class="list-group-item"> <i class="bi bi-calendar2-week-fill"></i> {{trip.departure_time}} </i>  <i class="bi bi-clock"></i>  </li>
              <li class="list-group-item"> <i class="bi bi-calendar2-week-fill"></i> {{trip.arrival_time}}   </i>  <i class="bi bi-clock"></i>  </li>
              <li class="list-group-item"> {{trip.car.model}} <i class="bi bi-car-front"></i> </li>
            </ul>
            <div class="card-body">
              <a href="{% url 'ridedetail' pk=trip.id %}" style = "background-color: rgb(16, 167, 255); border-color: black ;" class="btn btn-primary btn-sm"> More Information <i class="bi bi-info-circle"></i> </a>
              <a href="{% url 'ridedelete' pk=trip.id %}" style = "background-color: rgb(197, 23, 0); border-color: black ;" class="btn btn-primary btn-sm"> Delete <i class="bi bi-trash"></i> </a>
            </div>
          </div>
        </div>
    
    {%endfor%}
      </div>
    </div>
    {%endif %}

    {% if user.my_cars.count == 0 %}
      <div class="alert alert-primary" style="background-color: #731cfd;color: white;" role="alert">
        You have not car. In order to create a new trip you need one <i class="bi bi-arrow-right-short"></i> <a href="{% url 'garage' %}" class="alert-link"> Go to garage <i class="bi bi-car-front-fill"></i></a></a> 
      </div>
    {% else %}
      <br>
      <a href="{% url 'createtrip' %}" class="btn btn-primary btn-lg btn-block"> Create a new trip  <i class="bi bi-plus-square-fill"></i> <i class="bi bi-suitcase-lg"></i> </a>
    {% endif %}
    <br>
  
  {% else %}
  <div class="alert alert-danger" role="alert">
    You are not a driver! <i class="bi bi-ban"></i>
  </div>
  
  {% endif %}

{% endblock %}