{% extends 'base_trips.html' %}

{% load static %}


{% block rides-card %}

<h3 style="text-align: center;"> My Passengers Trips <i class="bi bi-calendar-check"></i> </h3>
<br>


{% if user.passengers_ride.count == 0 %}

  <div class="alert alert-primary" style="background-color: #731cfd;color: white;" role="alert">
    You have 0 Planned Trip. You can find one at the following link <i class="bi bi-arrow-right-short"></i> <a href="{% url 'search_trip' %}" class="alert-link"> Find Trip <i class="bi bi-search"></i></a>
  </div>
  <br>

{% else %}

  <div class="container text-center">
    <div class="row justify-content-start">
      {% for p in object_list %}
      <div class="col-auto">
        <div class="card" style="width: 18rem;">
          {% if p.ride.is_running %}
            <h4> <span class="badge rounded-pill text-bg-info"> {{p.ride.departure_location}} - {{p.ride.arrival_location}} (<i id="is_running" class="bi bi-car-front"></i>) </span> </h4>
            {% else %}
            <h4> <span class="badge rounded-pill text-bg-info"> {{p.ride.departure_location}} - {{p.ride.arrival_location}} </span> </h4>
            {% endif %}
          <img src="{% static '/img/milano.jpg' %}" class="card-img-top" alt="City">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"> <i class="bi bi-calendar2-week-fill"></i> {{p.ride.departure_time}} </i>  <i class="bi bi-clock"></i>  </li>
            <li class="list-group-item"> <i class="bi bi-calendar2-week-fill"></i> {{p.ride.arrival_time}}   </i>  <i class="bi bi-clock"></i>  </li>
            <li class="list-group-item"> {{p.ride.car.model}} <i class="bi bi-car-front"></i> </li>
          </ul>
          <div class="card-body">
            <a href="{% url 'leave_trip' pk=p.ride.id %}" style = "background-color: rgb(201, 0, 0);border-color: black ;" class="btn btn-primary btn-sm"> Leave <i class="bi bi-escape"></i>  </a>
          </div>
        </div>
      </div>
    {%empty%}
    <div class="col-12">
      <div class="alert alert-primary" style="background-color: #731cfd;color: white;" role="alert">
        You have not planned trips <i class="bi bi-calendar-x"></i>
      </div>
    </div>
    {%endfor%}
    </div>
  </div>
{% endif %}
<br>
  
{% endblock %}