{% extends 'basebs.html' %}

{% load static %}

{% block title %} Trips {% endblock %} 

{% block header1 %}
  <div class="header-background">
    <h1> Yours trips <i class="bi bi-suitcase-lg"></i> </h1>
  </div>
{% endblock %}

{% block content %} 

    <h2> You have --- trips planned </h2>

<br>

{% if "Driver" in user.groups.all.0.name or  "Driver" in user.groups.all.1.name or user.is_staff %}  {# TODO - Improve this check #}

  <h3> My Drivers Trips <i class="bi bi-award-fill"></i> </h3>
  
  <br>

  <div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <h4> <span class="badge rounded-pill text-bg-info">Rome - Milan </span> </h4>
          <img src="{% static '/img/milano.jpg' %}" class="card-img-top" alt="City">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"> 20/04/2024 <i class="bi bi-calendar2-week-fill"></i></i> (12:30) <i class="bi bi-clock"></i>  </li>
            <li class="list-group-item"> 20/04/2024 <i class="bi bi-calendar2-week-fill"></i></i> (18:30) <i class="bi bi-clock"></i>  </li>
            <li class="list-group-item"> Land Rover <i class="bi bi-car-front"></i> </li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">More Information</a>
            <a href="#" style = "color: red;"  class="card-link">Quit <i class="bi bi-escape"></i> </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <h4> <span class="badge rounded-pill text-bg-info">Rome - Milan </span> </h4>
          <img src="{% static '/img/milano.jpg' %}" class="card-img-top" alt="City">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"> 20/04/2024 <i class="bi bi-calendar2-week-fill"></i></i> (12:30) <i class="bi bi-clock"></i>  </li>
            <li class="list-group-item"> 20/04/2024 <i class="bi bi-calendar2-week-fill"></i></i> (18:30) <i class="bi bi-clock"></i>  </li>
            <li class="list-group-item"> Land Rover <i class="bi bi-car-front"></i> </li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">More Information</a>
            <a href="#" style = "color: red;"  class="card-link">Quit <i class="bi bi-escape"></i> </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <h4> <span class="badge rounded-pill text-bg-info">Rome - Milan </span> </h4>
          <img src="{% static '/img/milano.jpg' %}" class="card-img-top" alt="City">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"> 20/04/2024 <i class="bi bi-calendar2-week-fill"></i></i> (12:30) <i class="bi bi-clock"></i>  </li>
            <li class="list-group-item"> 20/04/2024 <i class="bi bi-calendar2-week-fill"></i></i> (18:30) <i class="bi bi-clock"></i>  </li>
            <li class="list-group-item"> Land Rover <i class="bi bi-car-front"></i> </li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">More Information</a>
            <a href="#" style = "color: red;"  class="card-link">Quit <i class="bi bi-escape"></i> </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  

  <br>

  <a href="{% url 'home' %}" class="btn btn-primary btn-lg btn-block"> Create a new trip  <i class="bi bi-plus-square-fill"></i> <i class="bi bi-suitcase-lg"></i> </a>

  <br><br>

  <h3> Planned trips <i class="bi bi-calendar-check"></i> </h3>

  <br>
  <div class="alert alert-primary" role="alert">
    You have 0 Planned Trip. You can find one at the following link <a href="#" class="alert-link">Find Trip <i class="bi bi-search"></i></a>. 
  </div>
  

    



<br>

{% endif %}

{% endblock %}