{% extends 'base_trips.html' %}

{% load static %}

{% block rides-card %}

  <h3 style="text-align: center;"> My recents Trips </h3>
  <br>

  {% if user.passengers_ride.count == 0 %}

  <div class="alert alert-primary" style="background-color: #731cfd;color: white;" role="alert">
    You have not already done a trip <i class="bi bi-calendar-x"></i>
  </div>
  <br>

  {% else %}

  <div class="container">
    <div class="row justify-content-start">
      
      {% for trip in object_list %}
      <div class="col-auto card-container">
        <div class="card" style="width: 18rem;">
          <!--Check if you drive in the recent trip-->
          {% if trip.user.id == user.id %}
            <h4> <span class="badge rounded-pill text-bg-info"> {{trip.departure_location}} - {{trip.arrival_location}} ( <i class="bi bi-person-vcard"></i> ) </span> </h4>
          {% else %}
          <h4> <span class="badge rounded-pill text-bg-info"> {{trip.departure_location}} - {{trip.arrival_location}} </span> </h4>
          {% endif %}
            <img src="{% static '/img/milano.jpg' %}" class="card-img-top" alt="City">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"> <i class="bi bi-calendar2-week-fill"></i> {{trip.departure_time}} </i>  <i class="bi bi-clock"></i>  </li>
            <li class="list-group-item"> <i class="bi bi-calendar2-week-fill"></i> {{trip.arrival_time}}   </i>  <i class="bi bi-clock"></i>  </li>
            <li class="list-group-item"> {{trip.car.model}} <i class="bi bi-car-front"></i> </li>
          </ul>
          <div class="card-body">
            {% if trip.user.id == user.id %}
              <a href="#" style="background-color: rgb(255, 233, 172); border-color: black; pointer-events: none; color: grey;" class="btn btn-primary btn-sm disabled-link">Give Your Rating <i class="bi bi-star"> </i></a>
            {% else %}
              <a href="{% url 'create_review' trip.id %}" style="background-color: rgb(255, 187, 0); border-color: black;" class="btn btn-primary btn-sm">Give Your Rating <i class="bi bi-star"> </i></a>
            {% endif %}
            
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
  

{% endblock %}