{% extends 'basebs.html' %}

{% load static %}

{% block title %} Trips {% endblock %} 

{% block header1 %}
  <div class="header-background">
    <h1> Yours trips <i class="bi bi-suitcase-lg"></i> </h1>
  </div>
{% endblock %}

{% block content %} 


<br>

{% if "Driver" in user.groups.all.0.name or  "Driver" in user.groups.all.1.name or user.is_staff %}  {# TODO - Improve this check #}

  <h3> My Drivers Trips <i class="bi bi-award-fill"></i> </h3>
  
  {% if object_list.count == 0 %}
  
  <div class="alert alert-primary" role="alert">
    There are not planned ride, create one with the button </a> 
  </div>
  
  {%else %}

  <br>
  <div class="container text-center">
    <div class="row">
  {% for trip in object_list %}
      <div class="col">
        <div class="card" style="width: 18rem;">
          <h4> <span class="badge rounded-pill text-bg-info"> {{trip.ride.departure_location}} - {{trip.ride.arrival_location}} </span> </h4>
          <img src="{% static '/img/milano.jpg' %}" class="card-img-top" alt="City">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"> <i class="bi bi-calendar2-week-fill"></i> {{trip.ride.departure_time}} </i>  <i class="bi bi-clock"></i>  </li>
            <li class="list-group-item"> <i class="bi bi-calendar2-week-fill"></i> {{trip.ride.arrival_time}}   </i>  <i class="bi bi-clock"></i>  </li>
            <li class="list-group-item"> {{trip.ride.car.model}} <i class="bi bi-car-front"></i> </li>
          </ul>
          <div class="card-body">
            <a href="{% url 'booking_detail' trip.id %}" class="card-link"> More Information </a>
            <a href="{% url 'booking_delete' trip.id %}" style = "color: red;"  class="card-link"> Delete <i class="bi bi-trash"></i> </a>
          </div>
        </div>
      </div>
  
  {%endfor%}
    </div>
  </div>

  <br>

  
  {%endif %}

  <a href="{% url 'createtrip' %}" class="btn btn-primary btn-lg btn-block"> Create a new trip  <i class="bi bi-plus-square-fill"></i> <i class="bi bi-suitcase-lg"></i> </a>


{% endif %}
  
  <br><br><br>
  <h3 style="text-align: center;"> My Passengers Trips <i class="bi bi-calendar-check"></i> </h3>
  <br>

  {% if user.passengers_ride.count == 0 %}

    <div class="alert alert-primary" role="alert">
      You have 0 Planned Trip. You can find one at the following link <a href="#" class="alert-link">Find Trip <i class="bi bi-search"></i></a>. 
    </div>
    <br>

  {% else %}

    <div class="container text-center">
      <div class="row">
        {% for p in user.passengers_ride.all %}
        <div class="col">
          <div class="card" style="width: 18rem;">
            <h4> <span class="badge rounded-pill text-bg-info"> {{p.ride.departure_location}} - {{p.ride.arrival_location}} </span> </h4>
            <img src="{% static '/img/milano.jpg' %}" class="card-img-top" alt="City">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"> <i class="bi bi-calendar2-week-fill"></i> {{p.ride.departure_time}} </i>  <i class="bi bi-clock"></i>  </li>
              <li class="list-group-item"> <i class="bi bi-calendar2-week-fill"></i> {{p.ride.arrival_time}}   </i>  <i class="bi bi-clock"></i>  </li>
              <li class="list-group-item"> {{p.ride.car.model}} <i class="bi bi-car-front"></i> </li>
            </ul>
            <div class="card-body">
              <a href="#" style = "color: red;"  class="card-link"> Leave <i class="bi bi-escape"></i>  </a>
            </div>
          </div>
        </div>
    
    {%endfor%}
      </div>
    </div>

  {% endif %}

  
  
  



{% endblock %}