{% extends 'basebs.html' %}

{% block title %} {{view.title}} {% endblock %} 

{% load crispy_forms_tags %} 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 

{% block header1 %}
<div class="header-background">
  <h1> {{view.title}} <i class="bi bi-suitcase-lg"></i> </h1>
</div>
{% endblock %}

{% block content %} 

<h2> Your information :  </h3>

<br><br>

<div class="col-md-6"> 
  <form method="post">
    {% csrf_token %}  
    {{ form|crispy }}
    <br>
    <input type="submit" class="btn btn-success" value="Save">  
  </form>  
</div>

<br>

{% endblock %}


